body {
 	font-family: 'Raleway', sans-serif;
 	color: #240536;
	background-color: white;
	text-align: center;
}

h1 {
    font-size: 50px;
    color: #240536;
}

h2 {
    font-size: 40px;
    color: #240536;
    text-align: center;
}
h3 {
    font-size: 20px;
    color: #240536;
    text-align: left;
}

.row {
	padding: none;
	margin: 40;
}


.nav {
	padding: none;
	margin: 40;

}
.sign_up {
	padding: 15;
}


.emotion {
	position: center;
	padding: 15;
	margin:none;
	height: 10%;
	width: auto
}

.grow:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
}
